/* Portfolio CSS */
.portfolio {
    padding: 50px 0;
    position: relative;
    background: #333333;
}
.portfolio h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.portfolio p {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 75px auto;
    text-align: center;
}

.portfolio .nav.nav-pills {
    width: 72%;
    margin: 25px auto;
    border-radius: 25px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
}
.portfolio .nav.nav-pills .nav-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .portfolio .nav.nav-pills .nav-item {
        width: 25%;
    }
}

.portfolio .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 18px 0;
    color: #fff;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 700;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}
.portfolio .nav.nav-pills .nav-link:hover {
    color: #7bbada;
}
.portfolio .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #7bbada -5.91%, #64b783 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.portfolio .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.portfolio .nav.nav-pills .nav-link.active {
    border: none;
    color: #252525;
}
.nav-link#portfolios-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
}
.nav-link#portfolios-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#portfolios-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
}
.portf-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
}
.portf-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #7bbada -5.91%, #64b783 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}
.portf-imgbx:hover::before {
    height: 100%;
}
.portf-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}
.portf-imgbx:hover .portf-txtx {
    top: 50%;
    opacity: 1;
}
.portf-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}
.portf-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}