.pricing-header {
    max-width: 700px;
}
.card-deck .card {
    min-width: 220px;
}
.card {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 25px;
    background: #333333a7;
    border: none;
}

.card .card-header{
    padding: 10px;
    position: relative;
    overflow: hidden;
    background: #333333;
    margin-bottom: 10px;
}
.pricing {
    padding-bottom: 25px;
}
.pricing h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.pricing p {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 20px auto;
    text-align: center;
}
.pricing h1 {
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: center;
}
.pricing h4 {
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: center;
}
.pricing li {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.8px;
    padding-left: 3px;
    line-height: 1.5em;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}
.pricing button {
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90.21deg, #7bbada -5.91%, #64b783 111.58%);
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
    z-index: 2;
    margin-bottom: 25px;
}
.pricing button span {
    z-index: 1;
    position: relative;
}
.pricing button:hover {
    color: #fff;
}
.pricing button::before {
    content: "";
    border-radius: 20px;
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .pricing button:hover::before {
    width: 100%;
  }